div {
display: flex;
justify-content: center;
position: relative;
  top: 80%;
height:  1500 px;

}

.container {
top: 100%;
}

.centered {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);

}

.img__wrap {
  position: relative;
  width: 30%;
   left:200px; top:50px
 }

 .img__wrap:hover .img__description {
  visibility: visible;
  opacity: 1;
}

.img__description {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  visibility: hidden;
  opacity: 0;
  transition: opacity .2s, visibility .2s;
}


 .img__description2 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  color: black;
  visibility: hidden;
  opacity: 0;
  transition: opacity .2s, visibility .2s;
}

.img__wrap2 {
  position: relative;
  width: 30%;
 left:600px; top:50px
 }

.img__wrap2:hover .img__description2 {
  visibility: visible;
  opacity: 1;
}


}
a {
  color: black;
  text size: 50;
  text-decoration: none;
}


p {
 cfont-family: "Helvetica", serif;
  color: black;
  font-weight: bold;
  text size: 100 px;

}

a:hover {
  color:black;
  text-decoration: none;
  font-size: 100;
}


html {
  scroll-behavior:smooth;
  

  }

  a.ref {
    text-decoration: bold;
  }


h1 {
   font-family: "Helvetica", serif;
  color: black;
  font-weight: bold;
     text-decoration: none;
 font-size: 60px;
 }

body {
  background-color:white;
  position:  centered;
   font-family: "Helvetica", serif;
   color: green;
   text-decoration: none;
    font-size: 30px;
    height: 1000 px;
 }


