a:visited {
  color:green;
}

a:hover {
  color:skyblue;
}

a:active {
  color: green;
}

h1 {
   font-family: "Helvetica", serif;
  color: black;
  font-weight: medium;
 font-size: 50;
 }
.href{
  font-size: 20;
}

body {
  background-color: lightpink;
   font-family: "Helvetica", serif;
   color: green;
 }
.col1 {
    float:left; 
    width:35%;
    margin-left:10% ;
    margin-top: 5%;
    font-family: "Helvetica", serif;
     line-height: 2 ;
}

.col2 {
    float:right; 
    width:35%;
    margin-right:10% ;
       margin-top: 5%;
    font-family: "Helvetica", serif;
     line-height: 2 ;
}



