a:visited {
  color: green;
   text-decoration: none;
}

a:hover {
  color: hotpink;
   text-decoration: none;
}

a:active {
  color: blue;
   text-decoration: none;
}

body {
  background-color: paleturquoise;
   font-family: "Helvetica", serif;
}
h1 {
   font-family: "Helvetica", serif;
  color: black;
}
p {
  color: blue;
  font-family: "Helvetica", serif;
}

.col1 {
    float:left; 
    width:35%;
    margin-left:10% ;
    margin-top: 10%;
    font-family: "Helvetica", serif;
     line-height: 2 ;
}

.col2 {
    float:right; 
    width:35%; 
    background-color: lightpink;
    margin-right:10% ;
       margin-top: 10%;
    font-family: "Helvetica", serif;
     line-height: 2 ;
}



