#footer {
    position: absolute;
    bottom: 0;
}

p {
 cfont-family: "Helvetica", serif;
  color: black;
  font-weight: bold;
  text size: 100 px;

}

a:visited {
  color: green;
  text-decoration: none;
  font-size: 100 px;
}


html {
  scroll-behavior:smooth;
  

  }

  .img__wrap:hover .img__description {
  visibility: visible;
  opacity: 1;
}

.img__description {
  position: absolute;
  visibility: hidden;
  top: 10%;
  left: 10%;
  bottom: 0;
  right: 0;
  opacity: 0;
  transition: opacity .2s, visibility .2s;
}


 .img__description2 {
  position: absolute;
  top: 10%;
 left: 0;
  bottom: 0;
  right: 0;
  color: black;
  visibility: hidden;
  opacity: 0;
  transition: opacity .2s, visibility .2s;
}


.img__wrap2:hover .img__description2 {
  visibility: visible;
  opacity: 1;
}

 .img__wrap2 {
  position: relative;
    width: 37%;
    right: 5%;
   top: 20 px;
    float: right;
 }

.img__wrap {
  position: relative;
  width: 37%;
  left: 30%;
   top:30%;
   float: left  ;
 }

a {
  color: black;
  text size: 50;
  text-decoration: none;
}

h1 {
   font-family: "Helvetica", serif;
  color: black;
  font-weight: bold;
     text-decoration: none;
 font-size: 40px;
 }

body {
  background-color:white;
  position:  centered;
   font-family: "Helvetica", serif;
   color: green;
   text-decoration: none;
    font-size: 20px;
 }




